<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Error Page Using Bootstrap</title>
</head>
<body>

<div id="app">
    <div v-for="(value, key) in table_info">
        <table class="table table-bordered">
        <div v-for="item in value.textBlocks">
            <tr>
                <td>Label</td>
                <td>{{item.label}}</td>
            </tr>
            <tr>
                <td>Text</td>
                <td>{{item.text}}</td>
            </tr>
            <tr>
                <td>Type</td>
                <td>{{item.type}}</td>
            </tr>
        </div>
        <button v-on:click="greet(key)">Greet</button>
        <br/>
        <div v-if="value.responses && value.responses.length > 0">
            <div v-for="(response,index) in value.responses">
                <p>{{index + 1}}: <span v-html="response"></span></p>
            </div>
        </div>
        </table>
    </div>
</div>

<script>
    const app = new Vue({
        el: '#app',
        data: {
            table_info: []
        },
        created(){
            fetch('/web/testJson.json')
                .then(response => response.json())
                .then(json => {
                    this.table_info = json
                })

            //console.log("is it created? => ", this.table_info.length);
        },
        methods: {
            greet: function (key) {
                // use this to refer to present vue instance
                alert(key);
                userAction(key);
            }
        }
    })

    const userAction = async (key) => {
        const response = await fetch('https://secure-oasis-87770.herokuapp.com/api/form', {
            method: 'POST',
            body: JSON.stringify(app.table_info[key]), // string or object
            headers:{
                'Content-Type': 'application/json'
            }
        });
        const myJson = await response.json(); //extract JSON from the http response
        // do something with myJson
        console.log("myJson ====> ", myJson);
        app.table_info[key]["responses"] = myJson['response'];
        //console.log("info => ", app.table_info[key]["responses"]);
    }
</script>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>