<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Programming Mentor</title>
</head>
<body>
<h2>Request</h2> <br/>

<div id="jsonObj">
<table class="table table-bordered" v-if="message12">
    <div v-for="(value, key) in message12" v-if="key == 'textBlocks'">
        <tbody v-for="item in message12.textBlocks">
            <tr>
                <td>Label</td>
                <td>{{item.label}}</td>
            </tr>
            <tr>
                <td>Text</td>
                <td>{{item.text}}</td>
            </tr>
            <tr>
                <td>Type</td>
                <td>{{item.type}}</td>
            </tr>
        </tbody>
    </div>
</table>
</div>


<br/>

<button id="getData" type="button" class="btn btn-primary">
    Send to server!
</button>

<br/><br/>

<h2>Response</h2> <br/>

<div id="responsejsonObj">
    <table class="table table-bordered" v-if="responseMessage">
        <thead>
            <tr>
                <td><h3>#</h3></td>
                <td><h3>response</h3></td>
            </tr>
        </thead>
        <div v-for="(value, key) in responseMessage" v-if="key == 'response'">
            <tbody v-for="(item, index) in responseMessage.response">
                <tr>
                    <td>{{index+1}}</td>
                    <!--<td>{{item}}</td>-->
                    <td><span v-html="item"></span></td>
                </tr>
            </tbody>
        </div>
    </table>
</div>



<script>
    document.getElementById('getData').addEventListener('click', getData);

    var responseJsonObj = new Vue({
        el: '#responsejsonObj',
        data: {
            responseMessage: {}
        }
    });

    responseJsonObj.responseMessage = null;

    // get response from backend server
    function getData() {
        userAction();
    }

    const userAction = async () => {
        const response = await fetch('https://secure-oasis-87770.herokuapp.com/api/form', {
            method: 'POST',
            body: JSON.stringify(jsonObj.message12), // string or object
            headers:{
                'Content-Type': 'application/json'
            }
        });
        const myJson = await response.json(); //extract JSON from the http response
        // do something with myJson
        console.log("myJson ====> ", myJson);
        responseJsonObj.responseMessage = myJson;
    }
</script>

<script src="jsonShow.js"></script>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>