<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <meta charset="UTF-8">
    <title>Display JSON</title>
</head>
<body>
<h1>Request JSON</h1>
<div id="jsonObj">
    <table v-if="message">
        <thead>
        <tr>
            <td><h3>Key</h3></td>
            <td><h3>Value</h3></td>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(value, key) in message">
            <td>{{key}}</td>
            <td>{{value}}</td>
        </tr>
        </tbody>
    </table>
</div>

<br/>

<button id="getData">
    Send to server!
</button>

<h1>Response JSON</h1>

<div id="responsejsonObj">
    <table v-if="responseMessage">
        <thead>
        <tr>
            <td><h3>Key</h3></td>
            <td><h3>Value</h3></td>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(value, key) in responseMessage">
            <td>{{key}}</td>
            <td>{{value}}</td>
        </tr>
        </tbody>
    </table>
</div>


<script>
    document.getElementById('getData').addEventListener('click', getData);

    var responseJsonObj = new Vue({
        el: '#responsejsonObj',
        data: {
            responseMessage: {}
        }
    });

    responseJsonObj.responseMessage = null;

    // get response from backend server
    function getData() {
        userAction();
    }

    const userAction = async () => {
        const response = await fetch('http://localhost:8080/api/form', {
            method: 'POST',
            body: JSON.stringify(jsonObj.message), // string or object
            headers:{
                'Content-Type': 'application/json'
            }
        });
        const myJson = await response.json(); //extract JSON from the http response
        // do something with myJson
        console.log("myJson ====> ", myJson);
        responseJsonObj.responseMessage = myJson;
    }
</script>

<script src="jsonShow.js"></script>
</body>
</html>