<!--
<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    &lt;!&ndash; Required meta tags &ndash;&gt;
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    &lt;!&ndash; Bootstrap CSS &ndash;&gt;
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Read JSON Using Vue</title>
</head>
<body>

&lt;!&ndash;<div id="app">
    <table class="table table-bordered">
        <div v-for="(value, key) in table_info">
            <div v-for="(val2, key2) in value.textBlocks">
                <tr>
                    <p>key</p>
                    <p>{{key2}}</p>
                </tr>
                <tr>
                    <p>Val2</p>
                    <p>{{val2}}</p>
                </tr>
            </div>
            <button v-on:click="greet(key)">Greet</button>
            <br/>
            <div v-if="value.responses && value.responses.length > 0">
                {{value.responses}}
            </div>
            <br/>
        </div>
    </table>
</div>&ndash;&gt;

<div id="app">
    <div v-for="(value, key) in table_info">
        <div v-for="item in value.textBlocks">
            <p>Label: {{item.label}}</p>
            <p>Text: {{item.text}}</p>
            <p>Type: {{item.type}}</p>
        </div>
        <button v-on:click="greet(key)">Greet</button>
        <br/>
        <div v-if="value.responses && value.responses.length > 0">
            <div v-for="(response,index) in value.responses">
                <p>{{index + 1}}: <span v-html="response"></span></p>
            </div>
        </div>
        <p>===========================================</p>
        <br/>
    </div>
</div>

<script>
    const app = new Vue({
        el: '#app',
        data: {
            table_info: []
        },
        created(){
            fetch('/web/testJson.json')
                .then(response => response.json())
                .then(json => {
                    this.table_info = json
                })

            //console.log("is it created? => ", this.table_info.length);
        },
        methods: {
            greet: function (key) {
                // use this to refer to present vue instance
                alert(key);
                userAction(key);
            }
        }
    })

    const userAction = async (key) => {
        const response = await fetch('http://localhost:8080/api/form', {
            method: 'POST',
            body: JSON.stringify(app.table_info[key]), // string or object
            headers:{
                'Content-Type': 'application/json'
            }
        });
        const myJson = await response.json(); //extract JSON from the http response
        // do something with myJson
        console.log("myJson ====> ", myJson);
        app.table_info[key]["responses"] = myJson['response'];
        //console.log("info => ", app.table_info[key]["responses"]);
    }
</script>

&lt;!&ndash; jQuery first, then Popper.js, then Bootstrap JS &ndash;&gt;
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>-->
