<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>AutoMentor</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link crossorigin="anonymous" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css}"
          type="text/css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <button aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler" data-target="#navbarNavAltMarkup" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <tr th:each="cid: ${response.samplePostIds}">
                    <td><a class="nav-item nav-link" th:href="@{'/piazza?cid=' + ${cid}}" th:text="${cid}"></a></td>
                </tr>
            </div>
        </div>
    </div>
</nav>
<div class="container">
    <div class="card my-3">
        <div class="card-body" th:with="result=${response.post.result}">
            <h1 class="card-title" th:text="${result.history[0].subject}"></h1>
            <h6 class="card-subtitle mb-2 text-muted"
                th:text="${#dates.format(result.history[0].created, 'dd-MMM-yyyy')}"></h6>
            <p class="card-text" th:utext="${result.history[0].content}"></p>
            <div>
                <tr th:each="tag: ${result.tags}">
                    <td><span class="badge badge-info" th:text="${tag}"></span></td>
                </tr>
            </div>
        </div>
    </div>
</div>

<script crossorigin="anonymous" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script crossorigin="anonymous" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script crossorigin="anonymous" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>